@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  background: linear-gradient(180deg,#403F44 0%,#1E1B32 100%);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
